.BoardContainer {
    width: 100%;
    height: auto;
    background-color: #98b998;
    padding: 40px 20px;
}

.BoardEdge {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    min-height: 1200px;
    height: 100%;
    /* padding: 20px 0px; */
    /* border: 1px solid purple; */
}

.GameBoard {
    /* min-width: 1200px; */
    width: 100%;
    /* margin: 0 auto; */
    min-height: 1200px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
