.SquareContainer {
    background-color: #D9AFD9;
    background-image: linear-gradient(45deg, #D9AFD9 0%, #97D9E1 100%);
    flex: 1 0 0;
}

.SnakeOccupied {
    width: 100%;
    height: 100%;
    background-color: black;
}

.FoodOccupied {
    width: 100%;
    height: 100%;
    background-color: yellow;
}
