.ControlPanelContainer {
    background-color: lightcoral;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.ControlPanelGridContainer {
    max-width: 200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "score-label score-value"
        "size-label size-value"
        "tickrate-label tickrate-value"
        "size-buttons size-buttons"
        "state-button state-button"
}

.GridScoreLabel {
    grid-area: score-label;
}

.GridScoreValue {
    grid-area: score-value;
}

.GridSizeLabel {
    grid-area: size-label;
}

.GridSizeValue {
    grid-area: size-value;
}

.GridTickrateLabel {
    grid-area: tickrate-label;
}

.GridTickrateValue {
    grid-area: tickrate-value;
}

.GridSizeButtons {
    grid-area: size-buttons;
}

.GridStateButton {
    grid-area: state-button;
}