* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}

html {
    background-color: grey;
    font-family: Arial;
    width: 100%;
    /* height: 100%; */
    padding: 20px 0px;
    /* border: 1px solid black; */
}
